//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'LineCompetition'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/javascripts/line_competition.js')


block location
  a.breadcrumb-item(href="/home") Home
  a.breadcrumb-item(href="/line") Line
  span.breadcrumb-item.active {{competition.name}}


block content
  .row
    .col-md-1
    .col-md-10
      h1 !{__('line.competition.title')} - {{competition.name}}
      br
      button(ng-click="go('/line/' + competition._id + '/score')" class='btn btn-outline-info btn-lg btn-block') !{__('line.competition.result')}
      br
      .refine
        h6 !{__('line.competition.refine.round')}
        span(ng-repeat='(key, value) in rounds track by key')
          input(type='checkbox' ng-model='rounds[key]' id="checkR_{{key}}")
          label.checkbox(for="checkR_{{key}}") {{key}}
        h6 !{__('line.competition.refine.field')}
        span(ng-repeat='(key, value) in fields track by key')
          input(type='checkbox' ng-model='fields[key]' id="checkF_{{key}}")
          label.checkbox(for="checkF_{{key}}") {{key}}
      hr
      input#showEnd(type='checkbox' ng-model='show_ended' ng-change='update_list()')
      label.checkbox(for='showEnd') !{__('line.competition.endedrun')}
      br
      center
        .loader(ng-show="runs==null")
          img(src="/images/loader2.gif")
          p !{__('common.loading')}
      table(class="comp")
        thead
          tr
            th !{__('common.starttime')}
            th !{__('common.round')}
            th !{__('common.team')}
            th !{__('common.field')}
            th
            th
        tbody
          tr(ng-repeat='run in runs | filter:list_filter | orderBy:"[startTime,round.name,field.name,team.name]" ')
            td(ng-bind='run.startTime | date:"dd EEE HH:mm"' ng-style="{'background-color':run.status>=3?'#ecf0f1':'', 'opacity':run.startTime<curTime?'0.5':''}")
            td(ng-bind='run.round.name' ng-style="{'background-color':run.status>=3?'#ecf0f1':'', 'opacity':run.startTime<curTime?'0.5':''}")
            td(ng-bind='run.team.name' ng-style="{'background-color':run.status>=3?'#ecf0f1':'', 'opacity':run.startTime<curTime?'0.5':''}")
            td(ng-bind='run.field.name' ng-style="{'background-color':run.status>=3?'#ecf0f1':'', 'opacity':run.startTime<curTime?'0.5':''}")
            td
              button(ng-click="go('/line/view/' + run._id)" class='btn btn-info') !{__('common.view')}

            td(ng-style="{'background-color':run.status>=3?'#ecf0f1':'', 'opacity':run.startTime<curTime?'0.5':''}")
              button(ng-click="no_judge()" class='btn btn-danger' ng-if="run.status>=3" ) !{__('common.judge')}
              button(ng-click="go_judge('/line/judge/' + run._id)" class='btn btn-danger' ng-if="run.status<3" ) !{__('common.judge')}
      br
      br
      br
