//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'LineCompetition'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/javascripts/line_competition.js')

append css
  style(type='text/css').
    .started {
      background-color: #ecf0f1;
    }

    .passed {
      opacity: 0.5;
    }

block location
  a.breadcrumb-item(href="/home") Home
  a.breadcrumb-item(href="/line") Line
  span.breadcrumb-item.active {{competition.name}}


block content
  .row
    .col-md-1
    .col-md-10
      h1 Line runs - {{competition.name}}
      br
      a.btn.btn-outline-info.btn-lg.btn-block(ng-href='/line/{{competition._id}}/score') Result (preliminary report ranking)
      br
      .refine
        h6 Refine by round
        span(ng-repeat='(key, value) in rounds track by key')
          input(type='checkbox' ng-model='rounds[key]' id="check_{{key}}")
          label.checkbox(for="check_{{key}}") {{key}}
        h6 Refine by field
        span(ng-repeat='(key, value) in fields track by key')
          input(type='checkbox' ng-model='fields[key]' id="check_{{key}}")
          label.checkbox(for="check_{{key}}") {{key}}
      hr
      input#showEnd(type='checkbox' ng-model='show_ended' ng-change='update_list()')
      label.checkbox(for='showEnd') Display ended runs
      br
      center
        .loader(ng-show="runs==null")
          img(src="/images/loader2.gif")
          p Now Loading...
      table(class="comp")
        thead
          tr
            th StartTime
            th Round
            th Team
            th Field
            th
            th
        tbody
          - var tdClass = "{started : run.status>=3, passed : run.startTime<curTime}"
          tr(ng-repeat='run in runs | filter:list_filter | orderBy:"[startTime,round.name,field.name,team.name]" ')
            td(ng-bind='run.startTime | date:"dd EEE HH:mm"' ng-class='#{tdClass}')
            td(ng-bind='run.round.name' ng-class='#{tdClass}')
            td(ng-bind='run.team.name' ng-class='#{tdClass}')
            td(ng-bind='run.field.name' ng-class='#{tdClass}')
            td
              a.btn.btn-info(ng-href='/line/view/{{run._id}}') View

            td(ng-class='#{tdClass}')
              button(ng-click="no_judge()" class='btn btn-danger' ng-if="run.status>=3" ) Judge
              button(ng-click="go_judge('/line/judge/' + run._id)" class='btn btn-danger' ng-if="run.status<3" ) Judge
      br
      br
      br
