//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'InterviewTeam'

append scripts
  script.
    var competitionId = "#{id}"
    var teamId = "#{tid}"
    var judge = "#{judge}"
  script(src='/javascripts/do_interview.js')
  script(src='/components/ng-file-upload/ng-file-upload-all.min.js')
  script(src='/components/lightbox2/dist/js/lightbox.min.js')
  
append css
    link(rel='stylesheet',href='/components/lightbox2/dist/css/lightbox.min.css')
    
block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click='go("/home/"+ competitionId)') {{competition.name}}
    a.breadcrumb-item(ng-click="go('/interview/' + competitionId)") Interview
    span.breadcrumb-item.active {{team.name}}



block content
  .row
    .col-md-1
    .col-md-10
      h1 {{team.name}} - {{"common.interview" | translate}}
      button.btn.btn-secondary(style='margin:0 10px 10px 0;', type='button', ng-click="getParam('return')? go(getParam('return')):go('/interview/' + competitionId)")
        i.fas.fa-undo(aria-hidden='true') {{'common.back' | translate}}
      br
      h2 {{'interview.runs' | translate}}
      #compe
          table(class="custom")
            thead
              tr
                th {{'common.round' | translate}}
                th {{'common.field' | translate}}
                th {{'common.starttime' | translate}}
                th {{'common.score' | translate}}
                th {{'common.time' | translate}}
                th {{'common.lops' | translate}}
                th
            tbody
              tr(ng-repeat='run in lruns | filter: teamId | orderBy:"[startTime,round.name,field.name,team.name]" ')
                td(ng-bind='run.round.name' data-content="{{'common.round' | translate}}")
                td(ng-bind='run.field.name' data-content="{{'common.field' | translate}}")
                td(ng-bind='run.startTime | date:"dd EEE HH:mm"' data-content="{{'common.starttime' | translate}}")
                td {{run.score}}
                td {{("00"+run.time.minutes).slice(-2)}}:{{("00"+run.time.seconds).slice(-2)}}
                td {{run.LoPsNum}}
                td
                  button(ng-click="go('/line/view/' + run._id + '?return=/interview/'+competitionId + '/view/'+teamId)" class='btn btn-info' style="width:45%; margin-right:5px;") {{'common.view' | translate}}
              tr(ng-repeat='run in mruns | filter: teamId | orderBy:"[startTime]" ')
                td(ng-bind='run.round.name' data-content="{{'common.round' | translate}}")
                td(ng-bind='run.field.name' data-content="{{'common.field' | translate}}")
                td(ng-bind='run.startTime | date:"dd EEE HH:mm"' data-content="{{'common.starttime' | translate}}")
                td(ng-bind='run.score' data-content="{{'common.score' | translate}}")
                td {{("00"+run.time.minutes).slice(-2)}}:{{("00"+run.time.seconds).slice(-2)}}
                td {{run.LoPs}}
                td
                  button(ng-click="go('/maze/view/' + run._id + '?return=/interview/'+competitionId + '/do/'+teamId)" class='btn btn-info' style="width:45%; margin-right:5px;") {{'common.view' | translate}}
      br
      
      #picture.card(ng-if="#{judge == 1}")
          h3.card-header
            i.far.fa-images(aria-hidden='true') {{'interview.ad_pic' | translate}}
          .card-body
            .row
                .col-md-4(ng-repeat='i in range(picN)')
                    a(style="max-width: 100%;height: auto; margin-bottom:20px;" ng-href="/api/teams/pic/{{competitionId}}/{{teamId}}/{{i}}" ng-if="showImg[i]" data-lightbox="image")
                        img.img-thumbnail(style="max-width: 100%;height: auto;margin-bottom:20px;" ng-src="/api/teams/pic/{{competitionId}}/{{teamId}}/{{i}}")
                
                
      br
      


      br
      div(ng-show="doc")
          #teaminfo.card
              h3.card-header
                i.far.fa-file-alt(aria-hidden='true') {{'interview.teaminfo' | translate}}
              .card-body
                p {{'interview.teamname' | translate}}
                h3 {{doc.team}}
                hr
                p {{'interview.howtoread' | translate}}
                h3 {{doc.yomi}}
                hr
                p {{'interview.organization' | translate}}
                h3 {{doc.dantai}}
          br
          #member.card(ng-if="#{judge == 1}")
              h3.card-header
                i.far.fa-file-alt(aria-hidden='true') {{'interview.member' | translate}}
              .card-body
                i.fas.fa-question(aria-hidden='true' style="font-size:20px;") &nbsp; {{'interview.nameread' | translate}}
                p(style="white-space: pre-wrap; margin-top:10px;margin-left:30px;background:#f5f5f5;") {{doc.member}}
                //textarea(style="width:100%; background:  #eaf9de;" rows="6" readonly) {{doc.member}}
                hr
                i.fas.fa-question(aria-hidden='true' style="font-size:20px;") &nbsp; {{'interview.role' | translate}}
                p(style="white-space: pre-wrap; margin-top:10px;margin-left:30px;background:#f5f5f5;") {{doc.role}}
                div(style="padding-left:50px;")
                    span {{'interview.comment' | translate}}
                    textarea(style="width:100%;" rows="3" ng-model="doc.roleC" readonly) {{doc.roleC}}
          br
          #member.card
              h3.card-header
                i.far.fa-file-alt(aria-hidden='true') {{'interview.hard' | translate}}
              .card-body
                i.fas.fa-question(aria-hidden='true' style="font-size:20px;") &nbsp; {{doc.hardware.q1.q}}
                p(style="white-space: pre-wrap; margin-top:10px;margin-left:30px;background:#f5f5f5;")  {{doc.hardware.q1.a}}
                div(style="padding-left:50px;")
                    span {{'interview.comment' | translate}}
                    textarea(style="width:100%;" rows="3" ng-model="doc.hardware.q1.c" readonly) {{doc.hardware.q1.c}}
                hr
                i.fas.fa-question(aria-hidden='true' style="font-size:20px;") &nbsp; {{doc.hardware.q2.q}}
                p(style="white-space: pre-wrap; margin-top:10px;margin-left:30px;background:#f5f5f5;")  {{doc.hardware.q2.a}}
                div(style="padding-left:50px;")
                    span {{'interview.comment' | translate}}
                    textarea(style="width:100%;" rows="3" ng-model="doc.hardware.q2.c" readonly) {{doc.hardware.q2.c}}
                hr
                i.fas.fa-question(aria-hidden='true' style="font-size:20px;") &nbsp; {{doc.hardware.q3.q}}
                p(style="white-space: pre-wrap; margin-top:10px;margin-left:30px;background:#f5f5f5;")  {{doc.hardware.q3.a}}
                div(style="padding-left:50px;")
                    span {{'interview.comment' | translate}}
                    textarea(style="width:100%;" rows="3" ng-model="doc.hardware.q3.c" readonly) {{doc.hardware.q3.c}}
                div(ng-show="doc.hardware.q4.q")
                    hr
                    i.fas.fa-question(aria-hidden='true' style="font-size:20px;") &nbsp; {{doc.hardware.q4.q}}
                    p(style="white-space: pre-wrap; margin-top:10px;margin-left:30px;background:#f5f5f5;")  {{doc.hardware.q4.a}}
                    div(style="padding-left:50px;")
                        span {{'interview.comment' | translate}}
                        textarea(style="width:100%;" rows="3" ng-model="doc.hardware.q4.c" readonly) {{doc.hardware.q4.c}}
                div(ng-show="doc.hardware.q5.q")
                    hr
                    i.fas.fa-question(aria-hidden='true' style="font-size:20px;") &nbsp; {{doc.hardware.q5.q}}
                    p(style="white-space: pre-wrap; margin-top:10px;margin-left:30px;background:#f5f5f5;")  {{doc.hardware.q5.a}}
                    div(style="padding-left:50px;")
                        span {{'interview.comment' | translate}}
                        textarea(style="width:100%;" rows="3" ng-model="doc.hardware.q5.c" readonly) {{doc.hardware.q5.c}}
                div(ng-show="doc.hardware.q6.q")
                    hr
                    i.fas.fa-question(aria-hidden='true' style="font-size:20px;") &nbsp; {{doc.hardware.q6.q}}
                    p(style="white-space: pre-wrap; margin-top:10px;margin-left:30px;background:#f5f5f5;")  {{doc.hardware.q6.a}}
                    div(style="padding-left:50px;")
                        span {{'interview.comment' | translate}}
                        textarea(style="width:100%;" rows="3" ng-model="doc.hardware.q6.c" readonly) {{doc.hardware.q6.c}}
                div(ng-show="doc.hardware.q7.q")
                    hr
                    i.fas.fa-question(aria-hidden='true' style="font-size:20px;") &nbsp; {{doc.hardware.q7.q}}
                    p(style="white-space: pre-wrap; margin-top:10px;margin-left:30px;background:#f5f5f5;")  {{doc.hardware.q7.a}}
                    div(style="padding-left:50px;")
                        span {{'interview.comment' | translate}}
                        textarea(style="width:100%;" rows="3" ng-model="doc.hardware.q7.c" readonly) {{doc.hardware.q7.c}}
          br
          #member.card
              h3.card-header
                i.far.fa-file-alt(aria-hidden='true') {{'interview.soft' | translate}}
              .card-body
                i.fas.fa-question(aria-hidden='true' style="font-size:20px;") &nbsp; {{doc.software.q1.q}}
                p(style="white-space: pre-wrap; margin-top:10px;margin-left:30px;background:#f5f5f5;")  {{doc.software.q1.a}}
                div(style="padding-left:50px;")
                    span {{'interview.comment' | translate}}
                    textarea(style="width:100%;" rows="3" ng-model="doc.software.q1.c" readonly) {{doc.software.q1.c}}
                hr
                i.fas.fa-question(aria-hidden='true' style="font-size:20px;") &nbsp; {{doc.software.q2.q}}
                p(style="white-space: pre-wrap; margin-top:10px;margin-left:30px;background:#f5f5f5;")  {{doc.software.q2.a}}
                div(style="padding-left:50px;")
                    span {{'interview.comment' | translate}}
                    textarea(style="width:100%;" rows="3" ng-model="doc.software.q2.c" readonly) {{doc.software.q2.c}}
                hr
                i.fas.fa-question(aria-hidden='true' style="font-size:20px;") &nbsp; {{doc.software.q3.q}}
                p(style="white-space: pre-wrap; margin-top:10px;margin-left:30px;background:#f5f5f5;")  {{doc.software.q3.a}}
                div(style="padding-left:50px;")
                    span {{'interview.comment' | translate}}
                    textarea(style="width:100%;" rows="3" ng-model="doc.software.q3.c" readonly) {{doc.software.q3.c}}
                div(ng-show="doc.software.q4.q")
                    hr
                    i.fas.fa-question(aria-hidden='true' style="font-size:20px;") &nbsp; {{doc.software.q4.q}}
                    p(style="white-space: pre-wrap; margin-top:10px;margin-left:30px;background:#f5f5f5;")  {{doc.software.q4.a}}
                    div(style="padding-left:50px;")
                        span {{'interview.comment' | translate}}
                        textarea(style="width:100%;" rows="3" ng-model="doc.software.q4.c" readonly) {{doc.software.q4.c}}
                div(ng-show="doc.software.q5.q")
                    hr
                    i.fas.fa-question(aria-hidden='true' style="font-size:20px;") &nbsp; {{doc.software.q5.q}}
                    p(style="white-space: pre-wrap; margin-top:10px;margin-left:30px;background:#f5f5f5;")  {{doc.software.q5.a}}
                    div(style="padding-left:50px;")
                        span {{'interview.comment' | translate}}
                        textarea(style="width:100%;" rows="3" ng-model="doc.software.q5.c" readonly) {{doc.software.q5.c}}
                div(ng-show="doc.software.q6.q")
                    hr
                    i.fas.fa-question(aria-hidden='true' style="font-size:20px;") &nbsp; {{doc.software.q6.q}}
                    p(style="white-space: pre-wrap; margin-top:10px;margin-left:30px;background:#f5f5f5;")  {{doc.software.q6.a}}
                    div(style="padding-left:50px;")
                        span {{'interview.comment' | translate}}
                        textarea(style="width:100%;" rows="3" ng-model="doc.software.q6.c" readonly) {{doc.software.q6.c}}
                div(ng-show="doc.software.q7.q")
                    hr
                    i.fas.fa-question(aria-hidden='true' style="font-size:20px;") &nbsp; {{doc.software.q7.q}}
                    p(style="white-space: pre-wrap; margin-top:10px;margin-left:30px;background:#f5f5f5;")  {{doc.software.q7.a}}
                    div(style="padding-left:50px;")
                        span {{'interview.comment' | translate}}
                        textarea(style="width:100%;" rows="3" ng-model="doc.software.q7.c" readonly) {{doc.software.q7.c}}
          br
          #ikigomi.card
              h3.card-header
                i.far.fa-file-alt(aria-hidden='true') {{'interview.motivation' | translate}}
              .card-body
                    p(style="white-space: pre-wrap;margin-left:30px;background:#f5f5f5;")  {{doc.ikigomi}}
          br
          #attach.card
              h3.card-header
                i.far.fa-file-pdf(aria-hidden='true') {{'interview.attach' | translate}}
              .card-body
                    iframe(ng-src="{{'/components/pdfjs/web/viewer.html?file=/api/teams/pdf/' + competitionId + '/' +teamId}}" style="width:100%; height:600px;" )

      br
      br
      #sign.card
          h3.card-header
            i.fa.fa-edit(aria-hidden='true') {{'interview.interviewer_field' | translate}}
          .card-body
            p.card-text.text-info {{'interview.field_description' | translate}}
            .form-group
              textarea.form-control(ng-model='team.comment', rows='8' readonly)
            div(ng-if="#{judge == 1}")
                h2 {{'interview.sign' | translate}}
                img(ng-src='{{team.interviewer}}', style='max-width: 100%;height: auto;')
      br
      br



